* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}
header {
  width: 100%;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./background.jpg");
  background-size: cover;
  background-attachment: fixed;
}
nav {
  width: 100%;
  height: 80px;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
}
.logo {
  font-family: sans-serif;
  font-size: 2.5em;
}
.logo span {
  color: rgb(177, 62, 62);
}
.menu {
  z-index: 99999;
}
.menu a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font-family: sans-serif;
  font-size: 20px;
}
.menu a:first-child {
  color: rgb(177, 62, 62);
}
.menu a:hover {
  color: rgb(177, 62, 62);
  cursor: pointer;
  /* pointer-events: stroke; */
}
.icon i {
  font-size: 20px;
}
.icon i:hover {
  color: rgb(177, 62, 62);
}
.icon a {
  text-decoration: none;
  background: rgb(177, 62, 62);
  color: white;
  padding: 10px 20px;
  margin-left: 30px;
  border-radius: 5px;
}
.h-text {
  color: white;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#camera {
  font-size: 40px;
  margin-bottom: 10px;
}

.h-text h1 {
  font-family: sans-serif;
  font-size: 3em;
  line-height: 1.5em;
}

.h-text input {
  width: 60%;
  padding: 20px;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 8px;
}
.h-text button {
  width: 30%;
  padding: 20px;
  background: rgb(177, 62, 62);
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 20px;
  margin-top: 30px;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.filter-gallery {
  /* padding: 100px; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* background: url('./img10.jpg'); */
  /* background-size: cover; */
  /* background-attachment: fixed; */
}
.portfolio-menu {
  text-align: center;
  margin-bottom: 20px;
}
.portfolio-menu ul li {
  list-style: none;
  display: inline-block;
  margin: 20px 0px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s ease;
  text-align: center;
}
.portfolio-menu ul li:hover {
  color: white;
  background: rgb(177, 62, 62);
  border-radius: 8px;
}
li.active {
  color: white;
  background: rgb(177, 62, 62);
  border-radius: 8px;
}
.portfolio-item {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 0 8em;
}
.portfolio-item .item {
  /* align-items: center; */
  width: 360px;
  /* height: 100%; */
  /* float: left; */
  margin-bottom: 20px;
  margin-right: 20px;
}
.portfolio-item .item img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
